.Home-Wii {
	animation: App-wii-spin infinite 5s linear;
	pointer-events: none;
	width: 40vmin;
}

.Home-Content {
	align-items: center;
	background-image: linear-gradient(var(--bg-green), var(--bg-pink) 20%, var(--bg-pink) 80%, var(--bg-green));
	box-shadow: inset 0 0 64px 16px var(--green);
	color: var(--pink);
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: 100vh;
}

.Home-Logo {
	filter: drop-shadow(8px 8px var(--green));
	margin-bottom: 2vmin;
	width: calc(10px + 20vmin);
}

.Home-Link {
	color: var(--green);
}

.Home-LogoContainer {
	filter: drop-shadow(8px 8px var(--green));
}

.Home-Link, .Home-Logo, .Home p, .Home-Button {
	transition-duration: .2s;
}

.Home-Link:hover, .Home p:hover, .Home-Button:hover {
	transform: scaleX(1.2);
}

.Home-Logo:hover {
	filter: drop-shadow(0 0 var(--green));
}

.Home-Button {
	display: inline-block;
	font-size: calc(5px + 2vmin);
	margin: 8px;
	padding: 16px;
	box-shadow: 0 4px white;
}

@keyframes App-wii-spin {
	from {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}