.Home {
	text-align: center;
}

.Home .Wii {
	pointer-events: none;
	width: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
	.Home .Wii {
		animation: App-wii-spin infinite 5s linear;
	}
}

.Home .Content {
	align-items: center;
	background-color: var(--background);
	box-shadow: inset 0 0 64px 16px var(--green);
	color: white;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: 100vh;
}

.Home .Logo {
	width: calc(10px + 20vmin);
	margin-bottom: 2vmin;
	filter: drop-shadow(8px 8px var(--green));
}

.Home .Link {
	color: var(--green);
}

.Home .Logo, .Home p {
	color: var(--pink);
}

.Home .LogoContainer {
	filter: drop-shadow(8px 8px var(--green));
}

.Home .Link, .Home .Logo, .Home p, .Home .Button {
	transition-duration: .2s;
}

.Home .Link:hover, .Home p:hover, .Home .Button:hover {
	transform: scaleX(1.2);
}

.Home .Logo:hover {
	filter: drop-shadow(0 0 var(--green));
}

.Home .Button {
	background-color: var(--green);
	border-radius: 16px;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-size: calc(5px + 2vmin);
	margin: 8px;
	padding: 16px;
	text-decoration: none;
}

@keyframes App-wii-spin {
	from {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}