.Register {
	background-color: var(--bg-pink);
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.Register-Content {
	background-color: white;
	border-radius: calc(8px + 0.5vmin);
	display: inline-block;
	margin: calc(8px + 2vmin);
	min-width: 50vw;
	padding: calc(16px + 4vmin) calc(8px + 4vmin) calc(8px + 4vmin) calc(8px + 4vmin);
}

.Register-SubmitButton {
	margin-top: calc(10px + 3vmin);
}

.Register-CategoryButton {
	margin-bottom: calc(8px + 1vmin);
}

.Register-SubmitButton, .Register-CategoryButton {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: calc(6px + 0.5vmin) calc(12px + 0.5vmin);
}

.Register-SubmitButton, .Register-CategoryButton, .Register label {
	font-size: calc(10px + 1vmin);
	width: 100%;
}

.Register label {
	display: block;
	margin: 1vmin 0;
}

.Register input {
	font-size: calc(8px + 0.8vmin);
}

.Register h1 {
	font-size: calc(16px + 1.5vmin);
	margin-bottom: calc(16px + 2vmin);
	margin-top: 0;
}

.Register h2 {
	font-size: calc(12px + 1vmin);
}

.Register-BackButton {
	background: none;
	display: block;
	font-size: calc(8px + 1vmin);
	margin-bottom: calc(10px + 3vmin);
	padding: 0;
}