.Register {
	background-color: var(--bg-pink);
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
}

.Register-Content {
	background-color: white;
	border-radius: 16px;
	display: inline-block;
	margin: 64px;
	min-width: 50%;
	padding: 64px 32px;
}

.Register-NextButton {
	margin-top: 48px;
	padding: 12px 20px;
}

.Register-CategoryButton {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 24px;
	padding: 12px 20px;
}

.Register-CategoryButton, .Register-NextButton, .Register label {
	font-size: x-large;
	width: 100%;
}

.Register label {
	display: block;
	margin: 8px 0;
}

.Register input {
	font-size: large;
}

.Register h1 {
	margin-bottom: 32px;
	margin-top: 0;
}

.Register-BackButton {
	background: none;
	display: block;
	font-size: large;
	margin-bottom: 32px;
	padding: 0;
}

.Register-Page-Offscreen {
	display: none;
}

.Register-CreditCard {
	background-color: #edecb0;
	border-radius: 16px;
	box-shadow: 0 0 4px grey;
	display: flex;
	flex-flow: column;
	padding: 32px 0 64px 0;
}

.Register-CardInputs {
	padding: 16px 16px;
}

.Register-CardStrip {
	background-color: black;
	height: 32px;
	width: 100%;
}

.Register-CardSecrets {
	display: flex;
	margin-top: 16px;
}

.Register-CreditCard #Register-CardDate {
	margin-right: 16px;
}

.Register-Captcha {
	align-items: center;
	background-color: #f9f9f9;
	border: 1px solid #d3d3d3;
	cursor: default;
	box-shadow: 0 0 4px 1px rgb(0 0 0 / 8%);
	display: flex;
	flex-direction: row;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 78px;
	width: 304px;
}

.Register-Captcha-Checkbox {
	background-color: white;
	border: 2px solid #c1c1c1;
	width: 24px;
	height: 24px;
	margin: 0 12px;
}

.Register-Captcha-Spinner {
	background-color: transparent;
	border: 6px solid var(--pink);
	border-radius: 32px;
	border-bottom-color: transparent;
	border-left-color: transparent;
	height: 36px;
	outline: 0;
	width: 36px;
	box-sizing: border-box;
	margin: 0 12px;
	animation: spinner-spin linear 2.5s infinite;
	transition-duration: 1s;
}

.Register-Captcha-Cross {
	animation: cross 0.4s steps(10) forwards;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	color: red;
	height: 36px;
	margin: 0 12px;
	width: 36px;
}

.Register-Captcha:hover .Register-Captcha-Checkbox {
	border: 2px solid #ababab;
}

@keyframes spinner-spin {
	0% {
		transform: rotateZ(0deg);
	}
	10% {
		transform: rotateZ(135deg);
	}
	25% {
		transform: rotateZ(245deg);
	}
	60% {
		transform: rotateZ(700deg);
	}
	75% {
		transform: rotateZ(810deg);
	}
	100% {
		transform: rotateZ(1080deg);
	}
}

.Register-Captcha span {
	flex: auto;
}

.Register-Captcha-Icon {
	height: 68px;
	margin-top: 4px;
	margin-right: 4px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.Register-Test {
	animation: fadeIn linear 0.5s;
	box-shadow: 0 0 8px gray;
	display: inline-block;
	background-color: white;
	margin-top: 4px;
	border-radius: 8px;
}

.Register-Test table {
	padding: 4px;
}

.Register-Test table div {
	background-size: 300%;
	background-repeat: no-repeat;
	height: 128px;
	position: relative;
	transition-duration: 0.1s;
	user-select: none;
	width: 128px;
}

#Register-Square0 {
	background-position: top left;
}

#Register-Square1 {
	background-position: top center;
}

#Register-Square2 {
	background-position: top right;
}

#Register-Square3 {
	background-position: center left;
}

#Register-Square4 {
	background-position: center;
}

#Register-Square5 {
	background-position: center right;
}

#Register-Square6 {
	background-position: bottom left;
}

#Register-Square7 {
	background-position: bottom center;
}

#Register-Square8 {
	background-position: bottom right;
}

.Register-Test-Clicked {
	border: 5px solid var(--pink);
	box-sizing: border-box;
}

.Register-Test-Header {
	background-color: var(--btn-primary);
	border-radius: 4px 4px 0 0;
	color: var(--btn-primary-text);
	padding: 16px;
}

.Register-Test tr, .Register-Test td {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.Register-Test-Verify {
	float: right;
	font-size: medium;
	margin: 8px 12px 12px 0;
	padding: 12px 24px;
}

@keyframes cross {
	from {
		background-position: top;
	}
	to {
		background-position: bottom;
	}
}