#App {
	text-align: center;
}

#App #Wii {
	width: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	#App #Wii {
		animation: App-wii-spin infinite 5s linear;
	}
}

#App #Header {
	align-items: center;
	background-color: var(--background);
	box-shadow: inset 0 0 64px 16px var(--green);
	color: white;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: 100vh;
}

#App #Logo {
	width: calc(10px + 20vmin);
	margin-bottom: 2vmin;
	filter: drop-shadow(8px 8px var(--green));
}

#App .Link {
	color: var(--green);
}

#App #Logo, #App p {
	color: var(--pink);
}

#App #LogoContainer {
	filter: drop-shadow(8px 8px var(--green));
}

#App .Link, #App #Logo, #App p, #App .Button {
	transition: .2s;
}

#App .Link:hover, #App p:hover, #App .Button:hover {
	transform: scaleX(1.2);
}

#App #Logo:hover {
	filter: drop-shadow(0 0 var(--green));
}

#App .Button {
	background-color: var(--green);
	border-radius: 16px;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-size: calc(5px + 2vmin);
	margin: 8px;
	padding: 16px;
	text-decoration: none;
}

@keyframes App-wii-spin {
	from {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}
