/* Global website colors, access with var(--aggressive-pink) */
:root {
	--aggressive-pink: #FF449E;
	--gamer-green: #3DEC00;
	--stock-standard: #FFFFFF;
	--bussin-black: #000000;

	--logo-shadow: #CCFF00;
	--bg-pink: #38001B;
	--bg-green: #1E7000;
	
	--btn-primary: #F43C94;
	--btn-primary-hover: var(--aggressive-pink);
	--btn-primary-text: var(--stock-standard);

	--btn-secondary: var(--gamer-green);
	--btn-secondary-hover: var(--logo-shadow);
	--btn-secondary-text: var(--bussin-black);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Header {
	font-size: 2vw;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.text-center {
	text-align: center;
}

.btn {
	border-radius: calc(2px + 0.2vmin);
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	transition-duration: .05s;
}

.btn-primary {
	background-color: var(--btn-primary);
	color: var(--btn-primary-text);
}

.btn-primary:hover {
	background-color: var(--btn-primary-hover);
}

.btn-primary.btn-bevel {
	box-shadow: calc(3px + 0.1vmin) calc(3px + 0.1vmin) var(--logo-shadow);
}

.btn-primary.btn-bevel:active {
	transform: scale(1.01);
	box-shadow: 0 0 var(--gamer-green);
}

.btn-secondary {
	background-color: var(--btn-secondary);
	color: var(--btn-secondary-text);
}

.btn-secondary:hover {
	background-color: var(--btn-secondary-hover);
}

.btn-secondary.btn-bevel {
	box-shadow: calc(3px + 0.1vmin) calc(3px + 0.1vmin) var(--aggressive-pink);
}

.btn-secondary.btn-bevel:active {
	transform: scale(1.01);
	box-shadow: 0 0 var(--aggressive-pink);
}

.form-input {
	border-radius: calc(2px + 0.2vmin);
	border: 2px solid lightgray;
	box-sizing: border-box;
	display: block;
	padding: 0.7em;
	width: 100%;
}